@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.background-nossas-cores-titulo {
   width: 100%;
   height: 26vh;
   background-image: url("../image/background-nossas-cores-titulo.png");
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #FCF5F5;
}

.background-nossas-cores-titulo h1 {
   text-align: center;
   color: #7017e3;
   font-family: "Poetsen One", sans-serif;
   font-weight: 500;
   font-size: 55px;
   margin-bottom: 12px;
   transition: transform 0.3s ease;
}
.background-nossas-cores-titulo h1:hover {
   transform: scale(1.05);
}
@media (max-width: 950px) {
   .background-nossas-cores-titulo {
      background-size: 70%;
   }
}
@media (max-width: 650px) {
   .background-nossas-cores-titulo {
      background-size: 95%;
   }
}
@media (max-width: 490px) {
   .background-nossas-cores-titulo h1 {
      font-size: 47px;
   }
}
@media (max-width: 400px) {
   .background-nossas-cores-titulo h1 {
      font-size: 33px;
   }
}
