.card-cadastro-sucess {
    border: solid 1px #9747ff;
    width: 23%;
    height: 60vh;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
}

.card-img-cadastro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img-cadastro img {
    width: 65%;
}
.first-text p {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}
.second-text p span {
    color: #9747ff;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}
.second-text p {
    color: #45413c;
    font-size: 16px;
    font-weight: 500;
}
.second-text {
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-btn-cadastro {
    background-color: #f53491;
    width: 50%;
    height: 10%;
    max-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.card-btn-cadastro a{
    color: #fff;
}
