@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.title {
    text-align: center;
    margin: 8rem 0rem;
    font-family: "title font";
    font-size: clamp(2rem, 1rem + 1vw, 2.5rem);
}

.section-equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fcf5f5;
    padding-bottom: 120px;
}
.container-cards-equipe {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 20%;
    flex-wrap: wrap;
}
