@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
    font-family: "title font";
    src: url(./assets/fonts/PoetsenOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

p {
    color: #444;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

.page {
    margin-top: 10vh;
}
