.container-parentes{
    width: 310px;
    height: 410px;
    border-radius: 20px;
    background-color: #FFE7AB;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.img-parente img{
    width: 100%;
    height: 220px;
    border-radius: 20px;
}


.info-parente{
    padding-top: 10px;
    padding: 15px;

}

.info-parente ul li{
    list-style-type: none;
    padding-bottom: 15px;
}
.container-parentes:hover {
    transform: scale(1.1);
}